@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
body{ color: #666666;
      font-family: 微软雅黑;
      font-size: 12px;

}
.wrap{
	background:url(images/bg_01.jpg) center 0px no-repeat #dadee1;
	height:1260px;
}

.wrap .container{
	/*border:1px solid #ccc;*/
	/*min-height:560px;*/
	padding-top:10px;
	padding-bottom:10px;
	width:960px;
}


/* 主要内容 --- start*/
#bg{width:175px; height:1000px; background:url(images/leftSide.png); margin-top:-175px;}

#coin4{ margin-top:-8px;}

.item{line-height: 20px; float:left;}

#mainContainer{ background:#FFFFFF; width:935px; height:1180px; margin:0px 12px 12px 12px;}

#mainContain{width:916px; height:1170px; margin-left:15px;}
#middlebk{width:670px;height:1110px; margin-left:28px; color:#000; font-size:14px; line-height:22px;}
#middlebk p{ text-align:center}
.keyHref{ color: #333333;
          display: block;
          font-size: 16px;
          height: 23px;
          line-height: 23px;
          margin-left: 10px;
}

#line{margin-left:28px;}
#ltBorder{ width:13px; height:395px; float:left}
#leftside{ width:175px; height:1170px;float:left;}

#rtBorder{ width:13px; height:395px; float:right}
#rightside{ width:735px;height:1170px;float:right; border-left:dotted 1px #000000; margin-top:5px;}

#topBorder{ height:12px; width:960px;}
#topbk{ width:685px; height:40px; margin-left:28px; color:#000;}
.transparent{background:#999;opacity:0.3}

.saleTitle{ color: #B20000;
            height: 23px;
            line-height: 23px;
			font-size: 18px;
		    float:left
}

.saleListUl{margin: 0;}
#school_sale{ padding-bottom:10px;}
#sideNav{width:150px; height:295px; background:#FFF; line-height:40px; text-align:center; margin-top:40px;font-size:14px;letter-spacing:2px;}
#sideNav a{color:#000; }
span1{ font-family:微软雅黑; color:#010101; font-size:18px;letter-spacing:3px; font-weight:bold; line-height:65px;}
span2{ font-size:18px; color:#010101; letter-spacing:2px; line-height:45px;}
span3{ float:right; padding-top:20px; padding-right:6px; font-size:12px}
span4{ color:#8F0206}
span5{ font-size:16px; line-height:60px; font-weight:bold}
span6{ font-size:12px;line-height:20px;}