<link rel="stylesheet" type="text/css" href="assets/styles/freshman/freshman.css"/>
<div id="main">
  <div id="rd">
    <div class="remai">校园热卖 :</div>
    <div class="scale">
      <ul class="scaleList">
        <li class="scaleCn"><a href="#">娃哈哈</a></li>
        <li class="scaleCn"><a href="#">每天十点</a>
        <li>
        <li class="scaleCn"><a href="#">确保低价</a></li>
      </ul>
    </div>
  </div>
  <div class="mainCon">
    <div class="top"></div>
    <div class="left"></div>
    <div class="right"></div>
    <!----新生专区   start---->
    <div class="freshFeauter">
      <div class="shadow"></div>
      <div class="leftNavi">
        <div class="leftCon">
          <div class="xinsheng"></div>
          <div class="_top" style=" margin-top:55px"><a href="#"><img src="assets/styles/freshman/image/10_06.gif" /></a></div>
          <a href="#">
          <div class="lvyou"></div>
          </a> <a href="#">
          <div class="con yule"></div>
          </a> <a href="#">
          <div class="con fangkeng"></div>
          </a> <a href="#">
          <div class="con chuxing"></div>
          </a> <a href="#">
          <div class="con yinshi"></div>
          </a> <a href="#">
          <div class="con gouwu"></div>
          </a>
          <div class="_top" ><a href="#"><img src="assets/styles/freshman/image/10_29.gif" /></a></div>
        </div>
      </div>
      <div class="freshman">
        <div class="rightCon">
          <div class="position">
            <div class="position_1">
              <div class="positionCon"> <a href="#">您现在所在的位置</a> <span>></span> <a href="#">成长手册</a><span>></span> <a href="#">新生专区</a> <span>></span><a href="#">旅游</a></div>
            </div>
          </div>
          <div class="bg_3 fL"></div>
          <div class=" tourist">
            <div class="bg_2 fR"></div>
          </div>
          <div class="bg"></div>
          <div class="lvxing fS"><span>【</span><a href="#">i游记</a><span>】</span><a href="#">1.武汉——清明时节的匆匆一瞥</a></div>
          <div class="reback fL"><a href="">426</a><span>浏览&nbsp;&nbsp;</span><a href="#">2</a><span>回复</span></div>
          <div class="report fL"><a href="#">举报</a></div>
          <div class="bg_1 fL"></div>
          <div class="author fL">
            <div class="author_1"><a href="#">一小兆</a></div>
            <div class="authorInf"><span>发表于2013-07-21 23：13</span>&nbsp;&nbsp;<a href="#">只看楼主</a></div>
          </div>
          <div class="author_2 fL"></div>
          <div class="mainTl clear fR">
            <div class="pre fS"><span>【</span><a href="#">前言</a><span>】</span></div>
            <div class="main_1">
              <p>两天的清明之旅很快就结束了，北京到<span>武汉</span>。也许是两天的时间太短了解不够深入，也许是一些旁的原因，<br />
                坐上返程货车时居然没有一丝遗憾。</p>
              <p> 这两天一直在找路，公交绕远了几次。浪费了很多时间。武汉的路名站点名和成都有些相似，一条街每站都<br />
                是叫某某大道某某路，看不懂绝对会迷路！！</p>
              <p> 这座城市并没有追随现代化的浪潮，而是保留了很多市井气息。我没法把它定义为“大城市”
                ，却是一座生<br />
                活气息十足的城市。</p>
              <p>具体到景点，</p>
              <p><span>归元寺</span>是我接触的第一个徽派建筑，印象不错，但里面的素斋只售节日套餐，不太划算；</p>
              <p><span>江汉路步行街</span>——天下步行街何其相似，北京王府井，成都春熙路，上海南京路……无非是一堆店铺开在两<br />
                侧，这里亦如此,也没有找到攻略中所说的小吃； </p>
              <p><span>户部巷</span>，这里总算是名符其实，糯米包油条，热干面，豆皮……吃到了很多新鲜玩意，价钱普遍在5元左右<br />
                ,可以尝试很多种，不过选择要慎重，我们两个人塞了一肚子的糯米；</p>
              <P>江滩，夜间的水边总是要让人思绪万千，我们两个人晚上十点多去吹风，风是湿的很舒服，江对岸也只是写基<br />
                础的广告牌，和外滩的繁华是一种对比;</P>
              <p><span>吉庆街</span>，太烂了！！！两个区域简直是蓝色的港湾和簋街的结合版，却失败了一些，我们吃那家叫什么大宅门<br />
                的，虽然门口人坐满满的，实际情况太差，卫生是最差的C级，口味也不对，最过分的是菜单上写着“清蒸武</p>
              <p><span>吉庆街</span>，太烂了！！！两个区域简直是蓝色的港湾和簋街的结合版，却失败了一些，我们吃那家叫什么大宅门<br />
                的，虽然门口人坐满满的，实际情况太差，卫生是最差的C级，口味也不对，最过分的是菜单上写着“清蒸武<br />
                的，虽然门口人坐满满的，实际情况太差，卫生是最差的C级，口味也不对，最过分的是菜单上写着“清蒸武</p>
            </div>
            <div id="pageConter">
              <ul id="pageC">
                <li><a href="#" class="checked">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><span class="pagec">…</span></li>
                <li><a href="#">10</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">30</a></li>
                <li><span class="pagec">…</span></li>
                <li><a href="#">最后一页</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-----新生专区   end----------> 
    
  </div>
</div>
