<link rel="stylesheet" type="text/css" href="assets/styles/shouce/shouce.css"/>
<div id="main">
<div id="rd">
  <div class="remai">校园热卖 :</div>
  <div class="scale">
    <ul class="scaleList">
      <li class="scaleCn"><a href="#">娃哈哈</a></li>
      <li class="scaleCn"><a href="#">每天十点</a>
      <li>
      <li class="scaleCn"><a href="#">确保低价</a></li>
    </ul>
  </div>
</div>
<div class="mainCon">
  <div class="top"></div>
  <div class="left"></div>
  <div class="right"></div>
  <!----成长轴 start   ----->
  <div id="grow">
    <div id="hugong"><a href="#"><img src="assets/styles/shouce/image/growzhou.gif"/></a></div>
    <div id="zq">
      <table width="809" height="36px">
        <tr>
          <td width="160"><a href="#"><img src="assets/styles/shouce/image/xinsheng.gif"></a></td>
          <td width="140"><a href="#"><img src="assets/styles/shouce/image/lianai.gif" /></a></td>
          <td width="145"><a href="#"><img src="assets/styles/shouce/image/daer.gif" /></a></td>
          <td width="151"><a href="#"><img src="assets/styles/shouce/image/dasan.gif" /></a></td>
          <td width="189"><a href="#"><img src="assets/styles/shouce/image/grauate.gif"/></a></td>
        </tr>
      </table>
    </div>
    <div  style="height:20px"><img src="assets/styles/shouce/image/lanmu.gif" width="940"/></div>
  </div>
  <!----成长轴  end   -----> 
  <!---- 特色专区 start  ----->
  <div id="feature"> 
    <!-----特色专区one start ------>
    <div class="ft_1">
      <div class="sub_2">
        <div class="con"><a href="#"><img src="assets/styles/shouce/image/ft_2.gif" /></a></div>
        <div class="sub">
          <ul class="subList">
            <li class="subNavi image"><a href=""> <img src="assets/styles/shouce/image/gofor.gif"/></a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">饮食</a></li>
            <li class="naviCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">购物</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">旅游</a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">娱乐</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">防坑</a></li>
            <li class="more"><a href ="#">more</a></li>
          </ul>
        </div>
        <div class="leftNew">
          <div class="leftGra"><img src="assets/styles/shouce/image/coin_1.gif" /></div>
          <div class="news"> <a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
        <div class="rightNew">
          <div class="rightGra"><img src="assets/styles/shouce/image/coin_2.gif" /></div>
          <div class="news"><a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
      </div>
    </div>
    <!-----特色专区one end ------>
<!-----特色专区two start ------>
    <div class="ft_2">
      <div class="sub_2">
        <div class="con"><a href="#"><img src="assets/styles/shouce/image/love.gif"/></a></div>
        <div class="sub">
          <ul class="subList">
            <li class="subNavi image"><a href=""> <img src="assets/styles/shouce/image/gofor.gif"/></a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">饮食</a></li>
            <li class="naviCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">购物</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">旅游</a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">娱乐</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">防坑</a></li>
            <li class="more"><a href ="#">more</a></li>
          </ul>
        </div>
        <div class="leftNew">
          <div class="leftGra"><img src="assets/styles/shouce/image/coin_3.gif" /></div>
          <div class="news"> <a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
        <div class="rightNew">
          <div class="rightGra"><img src="assets/styles/shouce/image/coin_4.gif" /></div>
          <div class="news"><a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
      </div>
    </div>
    
    <!---- 特色专区two  end  -----> 
    <!-----特色专区two start ------>
    <div class="ft_2">
      <div class="sub_2">
        <div class="con"><a href="#"><img src="assets/styles/shouce/image/love.gif"/></a></div>
        <div class="sub">
          <ul class="subList">
            <li class="subNavi image"><a href=""> <img src="assets/styles/shouce/image/gofor.gif"/></a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">饮食</a></li>
            <li class="naviCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">购物</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">旅游</a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">娱乐</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">防坑</a></li>
            <li class="more"><a href ="#">more</a></li>
          </ul>
        </div>
        <div class="leftNew">
          <div class="leftGra"><img src="assets/styles/shouce/image/coin_3.gif" /></div>
          <div class="news"> <a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
        <div class="rightNew">
          <div class="rightGra"><img src="assets/styles/shouce/image/coin_4.gif" /></div>
          <div class="news"><a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
      </div>
    </div>
    
    <!---- 特色专区two  end  -----> 
    <!-----特色专区two start ------>
    <div class="ft_2">
      <div class="sub_2">
        <div class="con"><a href="#"><img src="assets/styles/shouce/image/love.gif"/></a></div>
        <div class="sub">
          <ul class="subList">
            <li class="subNavi image"><a href=""> <img src="assets/styles/shouce/image/gofor.gif"/></a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">饮食</a></li>
            <li class="naviCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">购物</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">旅游</a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">娱乐</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">防坑</a></li>
            <li class="more"><a href ="#">more</a></li>
          </ul>
        </div>
        <div class="leftNew">
          <div class="leftGra"><img src="assets/styles/shouce/image/coin_3.gif" /></div>
          <div class="news"> <a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
        <div class="rightNew">
          <div class="rightGra"><img src="assets/styles/shouce/image/coin_4.gif" /></div>
          <div class="news"><a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
      </div>
    </div>
    
    <!---- 特色专区two  end  -----> 
    <!-----特色专区two start ------>
    <div class="ft_2">
      <div class="sub_2">
        <div class="con"><a href="#"><img src="assets/styles/shouce/image/love.gif"/></a></div>
        <div class="sub">
          <ul class="subList">
            <li class="subNavi image"><a href=""> <img src="assets/styles/shouce/image/gofor.gif"/></a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">饮食</a></li>
            <li class="naviCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">购物</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">旅游</a></li>
            <li class="navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">娱乐</a></li>
            <li class=" navCn">
              <div class="naviCn">|</div>
            </li>
            <li class="subNavi"><a href="#" class="subFT">防坑</a></li>
            <li class="more"><a href ="#">more</a></li>
          </ul>
        </div>
        <div class="leftNew">
          <div class="leftGra"><img src="assets/styles/shouce/image/coin_3.gif" /></div>
          <div class="news"> <a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
        <div class="rightNew">
          <div class="rightGra"><img src="assets/styles/shouce/image/coin_4.gif" /></div>
          <div class="news"><a href="#" class="subFT">湖工“校园秤” 那些事</a>
            <p class="newsContain">对这个“校园秤”，新闻网跟湖工校<br />
              学生会等组织都进行了相关的明暗访<br />
              调查与相关采访报道，同学们依靠自<br />
              己的力量，学会了维权，一起抗争校<br />
              园这般“缺斤少两”的邪风……</p>
          </div>
        </div>
      </div>
    </div>
    
    <!---- 特色专区two  end  -----> 
    
    
  </div>
</div>
