<link rel="stylesheet" type="text/css" href="assets/styles/xdxx/xdxx.css"/>
<div class="wrap">
  <div id="center">
    <div id="centerTop" class="container">
      <div class="main pull-left">
        <div class="hotSale">
          <div class="saleTitle fL">校园特卖:</div>
          <div class="saleList fL">
            <ul class="saleListUl">
              <li class="item fL"> <a href="#" class="keyHref">娃哈哈</a> </li>
              <li class="item fL"> <a href="#" class="keyHref">每天10点</a> </li>
              <li class="item fL"> <a href="#" class="keyHref">确保低价</a> </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <!-----------内容区---------->
    <div id="centerMain">
      <div id="centerMain_1"> </div>
    </div>
    <div id="centerMain_2">
      <div id="centerContent_left"> 
        <!------------内容1------------>
        <div class="user_one">
          <div class="userPicture_one userPicture"></div>
          <div class="userContent userC1">
            <div class="uc uc1">
              <div id="ucc1">
                <h4>有些歌是属于夜的</h4>
                <span><img src="assets/images/xdxx/6_11.gif"></span>
                <p>有些歌就是属于夜的，00:00以后听着更带感。没想到Akiko唱这种爵士调调的歌曲挺那么回儿事的！因为昨天8点多喝了该死的咖啡，2013年7月20日很有可能会失眠。这会儿，脑袋比白天清楚多了！想了想，所遭遇的烦心事儿，一定是因为能处理好才会让遇见！哦，今天还学会一点：色多而目盲！</p>
              </div>
              <div class="btnTocao"><a href="javascript:void(0)" class="btnT btnt1"></a></div>
              <div class="message"> <a href="javascript:void(0)" class="mg">热度(7)</a><a href="javascript:void(0)" class="mg">回应(2)</a><a href="javascript:void(0)" class="mg">转载</a><a href="javascript:void(0)" class="heart"></a> </div>
            </div>
          </div>
          <div class="sharp s1"></div>
          <div class="yuanjiao y1"></div>
        </div>
        <!--------------内容2-------------->
        <div class="user_two">
          <div class="userPicture_two userPicture"></div>
          <div class="userContent userC2">
            <div class="uc uc2">
              <div id="ucc2"><span>
                <h4>有些歌是属于夜的</h4>
                </span>
                <p>有些歌就是属于夜的，00:00以后听着更带感。没想到Akiko唱这种爵士调调的歌曲挺那么回儿事的！因为昨天8点多喝了该死的咖啡</p>
              </div>
              <div class="btnTocao"><a href="javascript:void(0)" class="btnT btnt1"></a></div>
              <div class="message"> <a href="javascript:void(0)" class="mg">热度(7)</a><a href="javascript:void(0)" class="mg">回应(2)</a><a href="javascript:void(0)" class="mg">转载</a><a href="javascript:void(0)" class="heart"></a> </div>
            </div>
          </div>
          <div class="sharp s1"></div>
          <div class="yuanjiao y1"></div>
        </div>
        <!-----------内容3---------------->
        <div class="user_two">
          <div class="userPicture_one userPicture"></div>
          <div class="userContent userC2">
            <div class="uc uc2">
              <div id="ucc2"><span>
                <h4>有些歌是属于夜的</h4>
                </span>
                <p>有些歌就是属于夜的，00:00以后听着更带感。没想到Akiko唱这种爵士调调的歌曲挺那么回儿事的！因为昨天8点多喝了该死的咖啡</p>
              </div>
              <div class="btnTocao"><a href="javascript:void(0)" class="btnT btnt1"></a></div>
              <div class="message"> <a href="javascript:void(0)" class="mg">热度(7)</a><a href="javascript:void(0)" class="mg">回应(2)</a><a href="javascript:void(0)" class="mg">转载</a><a href="javascript:void(0)" class="heart"></a> </div>
            </div>
          </div>
          <div class="sharp s1"></div>
          <div class="yuanjiao y1"></div>
        </div>
        <!-----------内容4---------------->
        <div class="user_three">
          <div class="userPicture_one userPicture"></div>
          <div class="userContent userC3">
            <div class="uc uc3">
              <div id="ucc3"><span>
                <h4>有些歌是属于夜的</h4>
                </span>
                <p>有些歌就是属于夜的，00:00以后听着更带感。没想到Akiko唱这种爵士调调的歌曲挺那么回儿事的！因为昨天8点多喝了该死的咖啡，2013年7月20日很有可能会失眠。这会儿，脑袋比白天清楚多了！想了想，所遭遇的烦心事儿，一定是因为能处理好才会让遇见！哦，今天还学会一点：色多而目盲！</p>
              </div>
              <div class="btnTocao"><a href="javascript:void(0)" class="btnT btnt1"></a></div>
              <div class="message"> <a href="javascript:void(0)" class="mg">热度(7)</a><a href="javascript:void(0)" class="mg">回应(2)</a><a href="javascript:void(0)" class="mg">转载</a><a href="javascript:void(0)" class="heart"></a> </div>
            </div>
          </div>
          <div class="sharp s1"></div>
          <div class="yuanjiao y1"></div>
        </div>
        <!-----------内容5---------------->
        <div class="user_two">
          <div class="userPicture_one userPicture"></div>
          <div class="userContent userC2">
            <div class="uc uc2">
              <div id="ucc2"><span>
                <h4>有些歌是属于夜的</h4>
                </span>
                <p>有些歌就是属于夜的，00:00以后听着更带感。没想到Akiko唱这种爵士调调的歌曲挺那么回儿事的！因为昨天8点多喝了该死的咖啡</p>
              </div>
              <div class="btnTocao"><a href="javascript:void(0)" class="btnT btnt1"></a></div>
              <div class="message"> <a href="javascript:void(0)" class="mg">热度(7)</a><a href="javascript:void(0)" class="mg">回应(2)</a><a href="javascript:void(0)" class="mg">转载</a><a href="javascript:void(0)" class="heart"></a> </div>
            </div>
          </div>
          <div class="sharp s1"></div>
          <div class="yuanjiao y1"></div>
        </div>
        
        <!------------end----------------> 
      </div>
      <div id="centerContent_right_top">
        <div id="twoBtn"><span class="twoB"><a href="javascript:void(0)" id="presonal"></a></span><span class="twoB sx">|</span><span class="twoB"><a href="javascript:void(0)" id="post"></a></span> </div>
      </div>
      <div id="centerContent_right_center">
        <div class="navCr navc1">
          <div class="navc11"></div>
          <div class="navc12">
            <input type="search" value="搜索消息" class="navc12">
          </div>
        </div>
        <div class="navCr"><a href="javascript:void(0)" class="navc2"><img src="assets/images/xdxx/2_20.gif" class="navc2t"></a>
          <div class="navc2p">吐槽墙</div>
        </div>
        <div class="navCr"><a href="javascript:void(0)" class="navc2"><img src="assets/images/xdxx/2_20.gif" class="navc2t"></a>
          <div class="navc2p">表白墙</div>
        </div>
        <div class="navCr"><a href="javascript:void(0)" class="navc2"><img src="assets/images/xdxx/2_20.gif" class="navc2t"></a>
          <div class="navc2p">八卦</div>
        </div>
        <div class="navCr"><a href="javascript:void(0)" class="navc2"><img src="assets/images/xdxx/2_20.gif" class="navc2t"></a>
          <div class="navc2p">基情</div>
        </div>
        <div class="navCr"><a href="javascript:void(0)" class="navc2"><img src="assets/images/xdxx/2_20.gif" class="navc2t"></a>
          <div class="navc2p">绯闻</div>
        </div>
      </div>
      <div id="centerContent_right_bottom">
        <div class="navCr navc3">
          <div class="navc3t"><strong>最新热帖</strong></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">有些歌是属于夜的</a></div>
        </div>
        <div class="navCr navc2">
          <div class="navc3t"><a href="javascript:void(0)" class="navc4">更多热帖</a></div>
        </div>
      </div>
    </div>
    <!------内容区--------> 
  </div>
</div>
