<link href="assets/styles/officialNews/officialNews.css" rel="stylesheet" type="text/css" />
  <div class="wrap">
    <div class="container">
    
      <!-- 校园特卖  start -->
      <div id="school_sale">
          <div class="saleTitle"><em>校园特卖:</em></div>
          <div class="saleList">
            <ul class="saleListUl">
              <li class="item">
                <a href="#" class="keyHref">娃哈哈</a>
              </li>
              <li class="item">
                <a href="#" class="keyHref">每天10点</a>
              </li>
              <li class="item">
                <a href="#" class="keyHref">确保低价</a>
              </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
        <!-- 校园特卖   end -->
        <!--透明块  start-------->
        <div id="topBorder" class="transparent"></div>
        <div id="ltBorder" class="transparent"></div>
        <div id="rtBorder" class="transparent"></div>
        <!--透明块  end-->
        <!---mainContainer白色背景盒子 start------>
        <div id="mainContainer">
          <!---mainContain内容大盒子 start-------->
          <div id="mainContain">
            <!-----topBlock第一条分割线上部  start------------->
            <div id="topBlock">
              <div id="topBlockLeft">
                <div id="topBlockLeftTop">
                  <div id="banner" class="item active"> 
                  <div id="banner_bg"></div><!--标题背景-->  
				  <div id="banner_info"></div><!--标题--> 
                  <ul> 
					<li>1</li> 
					<li>2</li> 
					<li>3</li> 
					<li>4</li> 
				</ul> 
				<div id="banner_list"> 
				
				<a href="#" target="_blank"><img src="assets/images/officialNews/P1000458.JPG" title="湖工新闻" alt="电院暑期社会实践" /></a> 
				<a href="#" target="_blank"><img src="assets/images/officialNews/P1000512.JPG" title="湖工新闻" alt="社会实践义务维修" /></a> 
				<a href="#" target="_blank"><img src="assets/images/officialNews/P1000382.JPG" title="湖工新闻" alt="湖工新闻" /></a>
                <a href="#" target="_blank"><img src="assets/images/officialNews/news1.jpg" title="湖工新闻" alt="天天开会" /></a>  
				</div> 
 				</div>
                  <div class="item"> <img src="" alt=""></div>
                </div>
                <div id="topBlockLeftBottom">
                  <div id="newsHotSrc" class="titles"><p>新闻热搜词</p></div>
                  <div id="newsHotSrcItem">
                    <div class="hbb"><br /><a href="#">李天一无罪辩护</a></div>
                    <div class="lbs"><br/><a href="#">反式脂肪<br/>酸</a></div>
                    <div class="hbs"><br /><a href="#">北方人少<br />活5年</a></div>
                    <div class="lbb"><br /><a href="#">宝马女踹人</a></div>
                    <div class="hbs"><br /><a href="#">赵本山当<br />春晚导演</a></div>
                    <div class="lbs" id="rightest"><br /><a href="#">国务院领<br />导小组</a></div>
                    <div class="hbs"><br /><a href="#">马英九舅<br />舅</a></div>
                    <div class="lbs"><br /><a href="#">杀婴凶手<br />求轻判</a></div>
                    <div class="hbb"><br /><a href="#">城里不能死人</a></div>
                    <div class="lbs"><br /><a href="#">江油大桥<br />垮塌</a></div>
                    <div class="hbs"><br /><a href="#">胡志军刑<br />期</a></div>
                    <div class="lbb" id="rightest"><br /><a href="#">村民暴雨中打麻将</a></div>
                  </div>
                </div>
              </div>
              <div id="topBlockRight">
                <div id="topBlockRightOne">
                  <div class="topBlockRightOneNews">
                    <div class="redTitle"><a href="#">四川泥石流致近2千人被困隧道 已取得联系</a></div>
                    <p>[都江堰2人遇难21人失踪] [连续降雨4天 降雨量达1981年大洪水水平]</p>
                  </div>
                  <div class="topBlockRightOneNews">
                    <div class="redTitle"><a href="#">河北省检方再证王书金非聂树斌案真凶</a></div>
                    <p>[王书金再审坚称自己就是案犯 检方称笔录与口供不合] [案件庭审实录]</p>
                  </div>
                  <div class="topBlockRightOneNews">
                    <div class="redTitle"><a href="#">李天一新律师：将为其做无罪辩护</a></div>
                    <p>[称警方以真实姓名披露改案涉侵权] [前律师因案情复杂梦鸽要求高请辞]</p>
                  </div>
                </div>
                <div id="topBlockRightTwo">
                  <div class="titles"><a href="#">韩亚空难乘客理赔 中美韩三地获赔最多差22倍</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">美方称韩亚客机坠毁前飞行员看不到跑道</a></li>
                    <li><a href="#">国务院：争取2015年前市县级政府三公公开</a></li>
                    <li><a href="#">中汽协：天津深圳等可能出台汽车限购措施</a></li>
                    <li><a href="#">河北奇葩博物馆翼宝斋成教育基地 将闭馆整顿</a></li>
                    <li><a href="#">百度重磅推出影音浏览器2.0版</a></li>
                  </ul>
                </div>
                </div>
                <div id="topBlockRightThree">
                  <div class="titles"><a href="#">朴槿惠：习近平和李克强对朝核问题态度坚决</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">港媒称七大军区司令调整完成 40后退出舞台</a></li>
                    <li><a href="#">黑龙江警方破获盗窃石油案 回收原油遭当地阻挠</a></li>
                    <li><a href="#">旅美北大女化学家投铊杀清华毕业丈夫（图）</a></li>
                  </ul>
                </div>
                </div>
              </div>
            </div>
            <!-----topBlock第一条分割线上部  end------>
            <!-----第二条分割线上部  start------>
            <div class="newsBlock">
              <div class="univercity">
                <div class="redTitle"><p>电气与电子工程学院</p></div>
              </div>
              <div class="newsLBlock">
                 <div class="titles"><a href="#">国网东平供电公司消防安全管理工作获上级充分肯定</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">尼日利亚总统看好中国经济 访华重点谈投资</a></li>
                    <li><a href="#">俄罗斯总统代表：俄中民间交流仍显不足</a></li>
                    <li><a href="#">俄调查：叙利亚反对派在叙使用化学武器</a></li>
                    <li><a href="#">德国男子造超炫激光枪 彪悍外形只能射气球（图）</a></li>
                    <li><a href="#">韩亚客机失事两名遇难女子系国寿客户</a></li>
                  </ul>
                </div>
              </div>
         
              <div class="newsRBlock">
                 <div class="titles"><a href="#">7月10日买盘最强劲的20支股</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">黄金价格迟迟不抬头 今天金价能涨多少</a></li>
                    <li><a href="#">LNG汽车产销两旺 富瑞特装净利润翻番</a></li>
                    <li><a href="#">亚太股市周三涨跌互现 日经225下跌0.39%</a></li>
                    <li><a href="#">东方财富预计上半年亏损1600万-2000万</a></li>
                    <li><a href="#">黔轮胎A上半年净利润预增50%-100%</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-----第二条分割线上部  end------>
            <!-----第三条分割线上部  start------>
            <div class="newsBlock">
              <div class="univercity">
                <div class="redTitle" ><p>电气与电子工程学院</p></div>
              </div>
              <div class="newsLBlock">
                <div class="titles"><a href="#">国网东平供电公司消防安全管理工作获上级充分肯定</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">尼日利亚总统看好中国经济 访华重点谈投资</a></li>
                    <li><a href="#">俄罗斯总统代表：俄中民间交流仍显不足</a></li>
                    <li><a href="#">俄调查：叙利亚反对派在叙使用化学武器</a></li>
                    <li><a href="#">德国男子造超炫激光枪 彪悍外形只能射气球（图）</a></li>
                    <li><a href="#">韩亚客机失事两名遇难女子系国寿客户</a></li>
                  </ul>
                </div>
              </div>
              <div class="newsRBlock">
                 <div class="titles"><a href="#">7月10日买盘最强劲的20支股</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">黄金价格迟迟不抬头 今天金价能涨多少</a></li>
                    <li><a href="#">LNG汽车产销两旺 富瑞特装净利润翻番</a></li>
                    <li><a href="#">亚太股市周三涨跌互现 日经225下跌0.39%</a></li>
                    <li><a href="#">东方财富预计上半年亏损1600万-2000万</a></li>
                    <li><a href="#">黔轮胎A上半年净利润预增50%-100%</a></li>
                  </ul>
                </div>
              </div>
              </div>
              <!-----第三条分割线上部  end------>
            <!-----第四条分割线上部  start------>
            <div class="newsBlock">
              <div class="univercity">
                <div class="redTitle"><p>电气与电子工程学院</p></div>
              </div>
              <!-----左侧新闻   start-------------->
              <div class="newsLBlock">
                 <div class="titles"><a href="#">国网东平供电公司消防安全管理工作获上级充分肯定</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">尼日利亚总统看好中国经济 访华重点谈投资</a></li>
                    <li><a href="#">俄罗斯总统代表：俄中民间交流仍显不足</a></li>
                    <li><a href="#">俄调查：叙利亚反对派在叙使用化学武器</a></li>
                    <li><a href="#">德国男子造超炫激光枪 彪悍外形只能射气球（图）</a></li>
                    <li><a href="#">韩亚客机失事两名遇难女子系国寿客户</a></li>
                  </ul>
                </div>
              </div>
              <div class="newsRBlock">
              <!-----左侧新闻   end-------------->
                 <!-----右侧新闻   start-------------->
                 <div class="titles"><a href="#">7月10日买盘最强劲的20支股</a></div>
                <div class="newsList">
                  <ul>
                    <li><a href="#">黄金价格迟迟不抬头 今天金价能涨多少</a></li>
                    <li><a href="#">LNG汽车产销两旺 富瑞特装净利润翻番</a></li>
                    <li><a href="#">亚太股市周三涨跌互现 日经225下跌0.39%</a></li>
                    <li><a href="#">东方财富预计上半年亏损1600万-2000万</a></li>
                    <li><a href="#">黔轮胎A上半年净利润预增50%-100%</a></li>
                  </ul>
                </div>
                <!-----右侧新闻   end-------------->
              </div>
              <!-----第四条分割线上部  end------>
            </div>
            <!---mainContain内容大盒子 end-------->
         </div>
         <!---mainContainer白色背景盒子 end------>
  </div>
  </div>  
