<link rel="stylesheet" type="text/css" href="assets/styles/xbxz/xbxz.css"/>
<div class="wrap">
  <div id="center">
    <div id="centerTop" class="container">
      <div class="main pull-left">
        <div class="hotSale">
          <div class="saleTitle fL">校园特卖:</div>
          <div class="saleList fL">
            <ul class="saleListUl">
              <li class="item fL"> <a href="#" class="keyHref">娃哈哈</a> </li>
              <li class="item fL"> <a href="#" class="keyHref">每天10点</a> </li>
              <li class="item fL"> <a href="#" class="keyHref">确保低价</a> </li>
            </ul>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    
    <!--------内容区---------->
    <div id="centerMain_middle"></div>
      <div id="centerMain_middle1">
        <div id="centerMain_middle1_top">
          <div id="cmmt1" >
            <div class="cmmt11">
              <input type="search" value="搜索考试资讯，试卷题型……" class="cmmt searchTxt">
            </div>
            <div class="cmmt1"><a href="javascript:void(0);">搜索</a></div>
          </div>
          <div id="cmmt2" >
            <div class="cmmt11">
              <input type="search" value="搜索考前临时抱佛脚攻略……" class="cmmt searchTxt">
            </div>
            <div class="cmmt1"><a href="javascript:void(0);" >搜索</a></div>
          </div>
        </div>
        <div id="centerMain_middle1_center">
          <div id="slideshow">
            <ul class="slides" id="slides1">
              <li><a class="lbt" id="lbt1" href="#">考研</a> <a class="lbt" id="lbt2" href="#">等级考试</a> <a class="lbt" id="lbt3" href="#">选系</a> <a class="lbt" id="lbt4" href="#">出国留学</a> </li>
              <li><img src=/></li>
              <li><img src=/></li>
              <li><img src=/></li>
            </ul>
            <span class="arrow previous"></span> <span class="arrow next"></span> </div>
        </div>
        <div id="centerMain_middle1_footer">
          <div id="jiantou"></div>
          <div id="centerMain_mf_1">
            <div id="cmmf1T1">
              <ul id="cmmf1T11">
                <li>等级考试</li>
              </ul>
            </div>
            <ul id="cmmf1">
              <li class="tabin">计算机考级</li>
              <li><span class="dividerTxt">|</span></li>
              <li>教室考试</li>
              <li><span class="dividerTxt">|</span></li>
              <li>建筑师</li>
              <li><span class="dividerTxt">|</span></li>
              <li>教师专区</li>
              <li><span class="dividerTxt">|</span></li>
              <li>注册电气工程师</li>
            </ul>
            <div class="cmmf1div contentin">
              <div class="neiRong">
                <ul class="neiRong1">
                  <li><a href="#">美国底特律市负债超180亿美元 正式申请破产</a></li>
                  <li><a href="#">上海多家知名金店涉操纵金价遭发改委调查</a></li>
                  <li><a href="#">湖南临武警方被指强行撬开冰柜抢走瓜农尸体</a></li>
                  <li><a href="#">湖南临武政府网遭黑客留言：多行不义必自毙</a></li>
                  <li><a href="#">央行推进利率市场化 取消贷款利率7折下限</a></li>
                  <li><a href="#">汽油明日起每升上调0.24元 迎新机制下最大涨幅</a></li>
                  <li><a href="#">微信沃上线背后：或将引领新移动互联网生态圈</a></li>
                  <li><a href="#">王小川：百度看重91什么 19亿美元从何而来？</a></li>
                  <li>索尼6.44寸巨屏新机评测 HTC One mini高价预售</li>
                  <li>苹果智能周边最佳选择 戴尔新本或配3200x1800屏</li>
                  <li><a href="#">美国底特律市负债超180亿美元 正式申请破产</a></li>
                  <li><a href="#">上海多家知名金店涉操纵金价遭发改委调查</a></li>
                  <li><a href="#">湖南临武警方被指强行撬开冰柜抢走瓜农尸体</a></li>
                  <li><a href="#">湖南临武政府网遭黑客留言：多行不义必自毙</a></li>
                  <li><a href="#">央行推进利率市场化 取消贷款利率7折下限</a></li>
                  <li><a href="#">汽油明日起每升上调0.24元 迎新机制下最大涨幅</a></li>
                  <li><a href="#">微信沃上线背后：或将引领新移动互联网生态圈</a></li>
                  <li><a href="#">王小川：百度看重91什么 19亿美元从何而来？</a></li>
                  <li>索尼6.44寸巨屏新机评测 HTC One mini高价预售</li>
                  <li>苹果智能周边最佳选择 戴尔新本或配3200x1800屏</li>
                </ul>
              </div>
              <div class="neiRong">
                <ul class="neiRong1">
                  <li><a href="#">美国底特律市负债超180亿美元 正式申请破产</a></li>
                  <li><a href="#">上海多家知名金店涉操纵金价遭发改委调查</a></li>
                  <li><a href="#">湖南临武警方被指强行撬开冰柜抢走瓜农尸体</a></li>
                  <li><a href="#">湖南临武政府网遭黑客留言：多行不义必自毙</a></li>
                  <li><a href="#">央行推进利率市场化 取消贷款利率7折下限</a></li>
                  <li><a href="#">汽油明日起每升上调0.24元 迎新机制下最大涨幅</a></li>
                  <li><a href="#">微信沃上线背后：或将引领新移动互联网生态圈</a></li>
                  <li><a href="#">王小川：百度看重91什么 19亿美元从何而来？</a></li>
                  <li>索尼6.44寸巨屏新机评测 HTC One mini高价预售</li>
                  <li>苹果智能周边最佳选择 戴尔新本或配3200x1800屏</li>
                  <li><a href="#">美国底特律市负债超180亿美元 正式申请破产</a></li>
                  <li><a href="#">上海多家知名金店涉操纵金价遭发改委调查</a></li>
                  <li><a href="#">湖南临武警方被指强行撬开冰柜抢走瓜农尸体</a></li>
                  <li><a href="#">湖南临武政府网遭黑客留言：多行不义必自毙</a></li>
                  <li><a href="#">央行推进利率市场化 取消贷款利率7折下限</a></li>
                  <li><a href="#">汽油明日起每升上调0.24元 迎新机制下最大涨幅</a></li>
                  <li><a href="#">微信沃上线背后：或将引领新移动互联网生态圈</a></li>
                  <li><a href="#">王小川：百度看重91什么 19亿美元从何而来？</a></li>
                  <li>索尼6.44寸巨屏新机评测 HTC One mini高价预售</li>
                  <li>苹果智能周边最佳选择 戴尔新本或配3200x1800屏</li>
                </ul>
              </div>
            </div>
            <div class="cmmf1div">内容2</div>
            <div class="cmmf1div">内容2</div>
            <div class="cmmf1div">内容4</div>
            <div class="cmmf1div">内容3</div>
            <div class="cmmf1div">内容5</div>
            <div class="cmmf1div">内容4</div>
            <div class="cmmf1div">内容5</div>
            <div class="cmmf1div">内容5</div>
          </div>
          <div id="pageConter">
            <ul id="pageC">
              <li><a href="#" class="checked">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><span class="pagec">…</span></li>
              <li><a href="#">10</a></li>
              <li><a href="#">20</a></li>
              <li><a href="#">30</a></li>
              <li><a href="#">最后一页</a></li>
            </ul>
          </div>
        </div>
      </div>
    
  </div>
</div>
