<p id="notice"><%= notice %></p>
<h1>缘来有约Android客户端</h1>
<p>
  <b>版本号:</b>
  <%= @apk.version %>
</p>

<p>
  <a class="button red" href="http://datescript.u.qiniudn.com/<%= @apk.downloadUrl %>">点击下载</a>
</p>

<p>
  <b>网络类型:</b>
  <%= @apk.netType %>
</p>
