<%= simple_form_for(Weibo.new, :html => { :class => "uk-form"}) do |f| %>
<input type="hidden" name="weibo[user_id]" value="<%= current_user.id %>">
<input type="hidden" name="weibo[favorite]" value="0">
<div class="uk-form-row">
  <textarea cols="30" rows="5" placeholder="发布一条动态" name="weibo[content]"></textarea>
</div>
<div class="uk-form-row">
  <button class="uk-button uk-button-primary" type="submit">发布</button>
</div>
<% end %>
