@charset "utf-8";
/* CSS Document */
#footer{ width:100%; height:90px; background:#DADFE0; margin-top:-5px;}
#foot{
	width: 935px;
	height: 80px;
	margin: auto;
	border-top: solid 2px #FFFFFF;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 0
}
#foot a{ color:#666666}
.bottomList{ height:26px}
