  <nav class="uk-navbar uk-fixed-navigation">
    <div class="uk-container-center uk-container">
      <ul class="uk-navbar-nav uk-hidden-small">
        <li class="uk-active"><a href="<%= root_path %>"><i class="uk-icon-home uk-icon-small"></i> 主页</a></li>
        <li><a href=""><i class="uk-icon-external-link uk-icon-small"></i> 联系</a></li>
        <li><a href=""><i class="uk-icon-eye-open uk-icon-small"></i> 发现</a></li>
        <li><a href=""><i class="uk-icon-user uk-icon-small"></i> 我</a></li>
        <li class="uk-parent" data-uk-dropdown="">
          <a href=""><i class="uk-icon-cog uk-icon-small"></i> 设置</a>

          <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
              <li><a href="#"><i class="uk-icon-envelope"></i> 私信</a></li>
              <li><a href="#"><i class="uk-icon-list"></i> 列表</a></li>
              <li class="uk-nav-header">客户端</li>
              <li><a href="#"><i class="uk-icon-android"></i> 安卓</a></li>
              <li><a href="#"><i class="uk-icon-apple"></i> 苹果iOS</a></li>
              <li class="uk-nav-divider"></li>
              <li><%= link_to " 退出登陆", destroy_user_session_path, :method => :delete, :class=> 'uk-icon-off' %></li>
            </ul>
          </div>

        </li>
      </ul>
      <div class="uk-navbar-flip">
        <div class="uk-navbar-content">
          <form class="uk-search" data-uk-search="{flipDropdown:true, source:'../vendor/searchresults.json'}">
            <input class="uk-search-field" type="search" placeholder="搜索 . . ." autocomplete="off">
            <button class="uk-search-close" type="reset"></button>
            <div class="uk-dropdown uk-dropdown-search uk-dropdown-flip"><ul class="uk-nav uk-nav-search"></ul></div></form>
          </div>
        </div>

        <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>

        <div id="tm-offcanvas" class="uk-offcanvas">

          <div class="uk-offcanvas-bar">

            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
              <li class="uk-nav-header">Datascripts</li>
              <li class="uk-active"><a href=""><i class="uk-icon-home uk-icon-medium"></i> 主页</a></li>
              <li><a href=""><i class="uk-icon-user"></i> &nbsp; &nbsp;我的主页</a></li>
              <li><a href=""><i class="uk-icon-external-link"></i> &nbsp; 联系</a></li>
              <li><a href=""><i class="uk-icon-eye-open"></i> &nbsp; 发现</a></li>
              
              <li><a href="#"><i class="uk-icon-envelope"></i> &nbsp; 私信</a></li>
              <li><a href="#"><i class="uk-icon-list"></i> &nbsp; 列表</a></li>
              <li class="uk-nav-header">客户端</li>
              <li><a href="#"><i class="uk-icon-android"></i> &nbsp; 安卓</a></li>
              <li><a href="#"><i class="uk-icon-apple"></i> &nbsp; 苹果iOS</a></li>
              <li class="uk-nav-divider"></li>
              <li><%= link_to " 退出登陆", destroy_user_session_path, :method => :delete, :class=> 'uk-icon-off' %></li>
            </ul>

          </div>

        </div>
      </div>
    </nav>